.home {
  #btn-add {
    position: absolute;
    top: 0px;
    right: 0px;

    border-radius: 50%;
    width: 64px;
    height: 64px;
    svg {
      width: 60px;
      height: 60px;
    }
    z-index: 100;
  }
}
